{% extends 'partials/base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="text-4xl bg-primary text-white font-bold py-2 px-3 mt-2 mb-6 inline-block">{{ page.title }}</h1>
    </div>

    {% if page.header.intro %}
    <article class="max-w-prose mx-auto font-medium">
        {{ page.header.intro|markdown }}
    </article>
    {% endif %}

    {% if config.get('plugins.page-toc.active') or attribute(page.header, 'page-toc').active %}
    <div class="page-toc p-2 pl-4 my-8 bg-white border-l-8 border-primary rounded max-w-prose mx-auto">
        {% set table_of_contents = toc(page.content) %}
        {% if table_of_contents is not empty %}
        <h1 class="text-lg font-bold pb-4">Inhaltsübersicht</h1>
        {{ table_of_contents|raw }}
        {% endif %}
    </div>
    {% endif %}

    <article class="prose mx-auto">
        {{ page.content|raw }}
    </article>
{% endblock %}
