{% extends 'partials/base.html.twig' %}

{% block body %}
    <div class="mx-auto w-full sm:w-1/3 text-center">
        <h1 class="px-2 py-1 m-4 text-white font-bold text-xl sm:text-xxl bg-secondary inline-block">
            {{ 'PLUGIN_ERROR.ERROR'|t }} {{ header.http_response_code }}
        </h1>

        {{ page.content|markdown }}
    </div>
{% endblock %}