{% extends 'partials/base.html.twig' %}

{% block body %}
	<div class="text-center">
		<h1 class="text-4xl bg-primary text-white font-bold py-2 px-3 mt-2 mb-6 inline-block">{{ page.title }}</h1>
	</div>

	<article class="prose mx-auto mb-5">
		{{ page.content|raw }}
	</article>

	{% include "forms/form.html.twig" %}
{% endblock %}

