{% extends 'partials/base.html.twig' %}

{% block body %}
    <div class="text-xl sm:text-2xl text-center py-4 max-w-2xl mx-auto">
        <h1 class="mb-4">Keine Lust auf tägliches, manuelles Düngen? Schlechtes Pflanzenwachstum? Zu viele Algen?</h1>
        <h1 class="mb-4">Sei dabei!</h1>
        <h1 class="">
            Wir entwickeln gemeinsam die ideale Steuerung für dich und dein Scape.
            <span class="far fa-tint"></span> Düngen,
            <span class="far fa-lightbulb"></span> dimmen,
            <span class="far fa-plug"></span> schalten und <a href="#features">vieles mehr</a>.
        </h1>
    </div>

    <div class="grid grid-rows sm:grid-cols-2 gap-4 py-4 max-w-2xl mx-auto">
        <div>
            {% include('partials/newsletter_form.html.twig') %}
        </div>
        <div>
            {% include('partials/social.html.twig') %}
        </div>
    </div>

    <a name="features"></a>
    <div class="grid grid-rows md:grid-cols-2 gap-4 py-4">
    {% for feature in page.header.features %}
        <div class="flex flex-row">
            <div>
                <span class="far fa-{{ feature.icon }} {{ feature.css ? feature.css : 'text-primary' }} text-center text-3xl w-12 pt-3 sm:text-5xl sm:w-24"></span>
            </div>
            <div class="">
                <h1 class="font-bold text-lg">{{ feature.subtitle }}</h1>
                <h1 class="text-xl sm:text-3xl {{ feature.css ? feature.css : 'text-primary' }} leading-tight">{{ feature.title }}</h1>
                <div>{{ feature.text }}</div>
            </div>
        </div>
    {% endfor %}
    </div>

    {{ page.content|raw }}

    <div class="py-4">
        {% include('partials/social.html.twig') %}
    </div>

{% endblock %}
