{% extends 'partials/base.html.twig' %}

{% block body %}
	<div class="max-w-7xl">
		<div class="text-center">
			<h1 class="text-4xl bg-primary text-white font-bold py-2 px-3 mt-2 mb-6 inline-block">{{ page.title }}</h1>
		</div>

		<article class="prose">
			{{ page.content|raw }}
		</article>

		<div class="grid md:grid-cols-3 gap-4">
			{% for child in page.collection %}
				<div>
					<div class="shadow-md rounded">
						<a href="{{ child.url }}">
							<img src="{{ child.media.images[child.header.card.image].cropZoom(600,300).url }}" class="rounded-tl rounded-tr" alt="{{ child.header.title }}">

							<div
								class="mt-2 p-2 mr-2 text-white bg-primary inline-block">
								{# {% if child.header.subtitle %}<h1 class="font-bold text-lg">{{ child.header.subtitle }}</h1>{% endif %} #}
								<h1 class="font-bold text-lg sm:text-xl leading-tight">
									{{ child.header.title }}
								</h1>
							</div>

							<div class="p-2">
								<p>{{ child.header.card.text|raw }}</p>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
