{% extends 'partials/base.html.twig' %}

{% block body %}
    {{ page.content|raw }}

    {% for module in page.collection %}
        <section id="{{ module.menu|lower }}">
            <a name="{{ module.header.anchor ? module.header.anchor : module.menu|lower }}"></a>
            {{ module.content|raw }}
        </section>
    {% endfor %}
{% endblock %}