{% extends 'partials/base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="text-4xl bg-primary text-white font-bold py-2 px-3 mt-2 mb-6 inline-block">{{ page.title }}</h1>
    </div>

    <div class="prose mb-4 mx-auto">
        {{ page.content|split('<hr />')[0]|markdown }}
    </div>

    <div class="max-w-lg mx-auto mb-4">
        {% include('partials/newsletter_form.html.twig') %}
    </div>

    <div class="prose mx-auto">
        {{ page.content|split('<hr />')[1]|markdown }}
    </div>
{% endblock %}
