{% extends 'partials/base.html.twig' %}

{% block body %}
<div>
	<div class="text-center">
		<h1 class="text-4xl bg-primary text-white font-bold py-2 px-3 mt-2 mb-6 inline-block">{{ page.title }}</h1>
	</div>

	<article class="prose">
		{{ page.content|raw }}
	</article>

	<div class="grid sm:grid-cols-4 grid-cols-1 gap-4">
		{% for child in page.collection %}
			<div class="p-2">
				<a href="{{ child.url }}">
					<img src="{{ child.media.images|first.url }}" class="rounded" alt="{{ child.header.title }}">
				</a>
			</div>
			<div class="sm:col-span-3">
				<h1 class="text-xl sm:text-3xl text-primary">
					<a href="{{ child.url }}">{{ child.header.title }}</a>
				</h1>

				<div class="my-3">
					<span class="far fa-thumbs-up text-primary"></span>
					{{ child.header.compatibility.compatible ? 'Kompatibel mit dem Scaper\'s Helper' : ''}}
                        <div>
                            <span class="far fa-euro-sign text-primary"></span>
                            Preis ab ca. {{ child.header.price }} €
                        </div>
                    </div>

                    <div>{{ child.header.summary|markdown }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
