{% include 'partials/landing_headline.html.twig' with {background: true} %}

<div class="my-4 p-4 max-w-6xl mx-auto grid md:grid-cols-2 lg:grid-cols-3 gap-8">
	{% for feature in page.header.features %}
		<div class="shadow-md rounded">
			{% if feature.image %}
				<img src="{{ page.media[feature.image].cropZoom(400,200).url }}" class="rounded-tl rounded-tr w-full" alt="{{ feature.title }}" loading="lazy">
			{% endif %}

			<div class="mt-2 px-2 py-1 mr-2 text-white bg-primary inline-block">
				<h1 class="font-bold  text-md sm:text-lg">
					{{ feature.title }}
				</h1>
			</div>

			<div class="p-2">
				<p>{{ feature.text|markdown }}</p>
			</div>
		</div>
	{% endfor %}
</div>

{% include 'partials/cta.html.twig' with {more: true, more_anchor: '#current_status'} %}
