{% include 'partials/landing_headline.html.twig' with {background: false} %}

<div class="my-4 p-4 max-w-6xl mx-auto grid md:grid-cols-2 gap-4">
    <div class="flex flex-col mt-4">
        {% for feature in page.header.checklist %}
        <div class="flex flex-row mb-4 items-center">
            <div class="w-1/8">
                <span class="far fa-check text-center text-2xl w-12 text-primary sm:text-4xl sm:w-24"></span>
            </div>
            <div class="w-7/8">
                <h1 class="text-lg font-bold sm:text-xl leading-tight">{{ feature }}</h1>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="prose">
        {{ page.content|raw }}
    </div>
</div>

{% include 'partials/cta.html.twig' with {more: true, more_anchor: '#details'} %}