<div class="grid grid-rows sm:grid-cols-2 sm:grid-flow-col gap-6 max-w-3xl mx-auto p-4 sm:p-6">
    <div {{ page.header.img_align == 'right' ?  'class="sm:col-start-2"' : '' }}>
    {% if page.header.img_link %}<a href="{{ page.header.img_link }}">{% endif %}
        <img class="w-full border border-1 border-gray-400" src="{{ page.media.images|first.cropResize(400,300).url }}" alt="{{ page.title }}">
    {% if page.header.img_link %}</a>{% endif %}
    </div>
    <div>
        <h1 class="text-xl text-primary font-bold mb-4">{{ page.title }}</h1>
        {{ page.content }}
    </div>
</div>