{% include 'partials/landing_headline.html.twig' with {background: true} %}

<div class="my-4 p-4 max-w-6xl mx-auto grid md:grid-cols-2 gap-8">
    {% for feature in page.header.features %}
    <div class="flex flex-row">
        <div>
            <span class="far fa-{{ feature.icon }} {{ feature.highlight ? 'text-secondary' : 'text-primary' }} text-center text-3xl w-12 pt-2 sm:text-5xl sm:w-24"></span>
        </div>
        <div class="">
            {% if feature.subtitle %}<h1 class="font-bold text-lg">{{ feature.subtitle|markdown }}</h1>{% endif %}
            <h1 class="text-lg sm:text-xl font-bold leading-tight {{ feature.highlight ? 'bg-secondary' : 'bg-primary' }} text-white py-1 px-2 inline-block">{{ feature.title }}</h1>
            <div>{{ feature.text|markdown }}</div>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'partials/cta.html.twig' with {more: true, more_anchor: '#compatible'} %}