{% include 'partials/landing_headline.html.twig' with {background: true} %}

<div class="my-4 p-4 max-w-4xl mx-auto">
    {% if page.header.show_title %}
    <div class="text-center">
        <h1 class="text-4xl">{{ page.title }}</h1>
    </div>
    {% endif %}

    <div class="prose max-w-full">
        {{ page.content|raw }}
    </div>
</div>

{% include 'partials/cta.html.twig' with {more: false} %}