<div id="hero" class="flex flex-col py-4 sm:pb-16 sm:pt-8 relative">
    {% if grav.config.plugins.langswitcher.enabled and system.languages.supported|count > 1 %}
        {% include 'partials/langswitcher.html.twig' with {classes: 'mr-4 sm:mr-8 mb-8'} %}
    {% endif %}
    
    <div class="w-full">
		<img class="mx-auto p-3 mb-4 sm:mb-8 max-w-lg w-full img-fluid" src="{{ url('theme://images/logo.webp') }}" alt="Scaper's Helper Logo"/>
	</div>

    <div class="md:grid md:grid-cols-2 gap-4 mb-12 max-w-7xl mx-auto">
        <div>
            <img class="p-3 sm:p-4"
                src="{{ page.media.images|first.url }}"
                srcset="{{ page.media.images|first.cropResize(500, 9999).url }} 500w,
                        {{ page.media.images|first.cropResize(750, 9999).url }} 750w,
                        {{ page.media.images|first.cropResize(1000, 9999).url }} 1000w"
                alt="Scaper's Helper Prototyp mit Anschlüssen und Erklärendem Text"
            >
        </div>
        <div>
            <div class="text-center max-w-3xl mx-auto p-3 sm:p-4">
                {{ page.content|raw }}
            </div>

			{% include 'partials/cta.html.twig' with {play_icon: true, more: true, more_anchor: '#checklist'} %}
		</div>
	</div>

	<img class="mx-auto w-full absolute inset-x-0 bottom-0 img-fluid" src="{{ url('theme://images/divider.svg') }}" alt="Scaper's Helper Logo"/>
</div>
