<div class="my-4 p-4 w-full shadow rounded-lg bg-white">
    <div class="text-center mb-2">
        <span class="text-2xl text-white font-bold bg-primary py-2 px-3 mt-2 inline-block">{{ page.title }}</span>
    </div>

    <div class="flex flex-col md:flex-row">
        <div class="md:w-1/3">
            <img class="m-2 w-1/2 md:w-full mx-auto" src="{{ page.media.images|first.url }}">
        </div>
        <div class="md:w-2/3 md:ml-2">
            <div class="leading-normal">
                {{ page.content|raw }}
            </div>
            <div>
                <a href="https://play.google.com/store/apps/details?id=com.scapershelper">
                    <img class="w-44 mx-auto" src="{{ page.media.images['google-play-badge.webp'].url }}">
                </a>
            </div>
        </div>
    </div>
</div>
