{% if page.header.show_title != null or page.header.show_title == true %}
	{% include 'partials/landing_headline.html.twig'  with {background: false} %}
{% endif %}

<div class="relative -mt-16 max-w-6xl mx-auto">
	<div class="mx-4 md:mx-auto p-4 rounded-md shadow bg-white max-w-3xl">
		<div class="text-center mb-4">
			<h1 class="text-lg sm:text-xl font-bold leading-tight bg-primary text-white py-1 px-2 inline-block mx-auto">{{ page.header.subtitle }}</h1>
		</div>

		<div class="flex flex-col md:flex-row">
			<div class="md:w-1/3">
				<img class="w-full mx-auto" src="{{ page.media.images|first.url }}" alt="Scaper's Helper App Screenshot">
			</div>

			<div class="md:w-2/3 flex flex-col">
				<div class="block md:hidden self-center">
					<a href="#"><img class="w-48 m-4" src="{{ page.media.images['google-play-badge.webp'].url }}" alt="Get it on Google Play"></a>
				</div>

				<div class="prose">
					{{ page.content|raw }}
				</div>

				<div class="hidden md:block self-center">
					<a href="https://play.google.com/store/apps/details?id=com.scapershelper">
						<img class="w-40 m-4" src="{{ page.media.images['google-play-badge.webp'].url }}" alt="Get it on Google Play">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
