<div class="grid grid-rows sm:grid-cols-3 w-full xl:max-w-3xl xl:mx-auto text-center text-white">
    {% for tile in page.header.tiles %}
        <div class="{{ tile.css }} p-4 sm:p-6">
            <h1 class="text-xl font-bold mb-2">{{ tile.title }}</h1>
            {{ tile.text }}
        </div>
    {% endfor %}
</div>