/* purgecss start ignore */
@tailwind base;

:root {
  --primary: #97b944;
  --secondary: #C4B248;
  --color-third: #39826A;
  --link: var(--color-third);
  --body-bg: #585958;
  --body-color: #e7e7e7;
}

html {
  scroll-behavior: smooth;
}

#hero, .cta {
  color: var(--body-color);
  background: linear-gradient(rgba(60, 60, 60, 0.95), rgba(60, 60, 60, 0.95)), url("../images/Peter_Kirwan_Mountainscape.webp");
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
}

.page-toc ul {
  @apply pl-4;
}

.page-toc a {
  @apply inline-block;
  @apply mb-1;
}

.notices {
  @apply rounded;
  border-left-width: 8px !important;
}

.prose .notices strong {
  color: inherit;
}

form {
  @apply mx-auto;
  @apply max-w-xl;
}

form input, form textarea {
  @apply p-2;
  @apply mb-2;
  @apply shadow;
  @apply focus:ring-primary;
  @apply focus:border-primary;
  @apply block;
  @apply w-full;
  @apply sm:text-sm;
  @apply border-gray-300;
  @apply rounded;
}

form button {
  @apply rounded;
  @apply bg-primary;
  @apply text-white;
  @apply font-bold;
  @apply px-4;
  @apply py-2;
  @apply m-2;
  @apply shadow-md;
  @apply block;
  @apply mx-auto;
}

nav {
  font-family: 'Concourse-T2';
}

@font-face {
  font-family: 'Concourse-T2';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/concourse_t2_regular.woff') format('woff');
}


@font-face {
  font-family: 'Concourse-T2';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/concourse_t2_bold.woff') format('woff');
}

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/*# sourceMappingURL=main.css.map */
