<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {# Metadata #}
        <meta property="og:title" content="{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}">
        <meta property="og:url" content="{{ page.url(true, true, true) }}">
        {% include 'partials/metadata.html.twig' %}

        {# Icon and Theming #}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url('image://icons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url('image://icons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url('image://icons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url('image://icons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url('image://icons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url('image://icons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url('image://icons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url('image://icons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url('image://icons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url('image://icons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url('image://icons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url('image://icons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url('image://icons/favicon-16x16.png') }}">
        {# <link rel="manifest" href="/manifest.json"> #}
        {# <meta name="msapplication-TileColor" content="#ffffff') }}"> #}
        <meta name="msapplication-TileImage" content="{{ url('image://icons/ms-icon-144x144.png') }}">

        {# CSS #}
        {% block stylesheets %}
            {% do assets.addCss('theme://css-compiled/main.css', {'group': 'main'}) %}
            {% do assets.addCss('theme://css-compiled/fontawesome.min.css', {'group': 'fonts'}) %}
            {% do assets.addCss('theme://css-compiled/regular.min.css', {'group': 'fonts'}) %}
        {% endblock %}

        <!-- Matomo Tag Manager -->
        <script type="text/javascript">
        var _mtm = window._mtm = window._mtm || [];
        _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src='https://matomo.scapershelper.de/js/container_mGRG3RZr.js'; s.parentNode.insertBefore(g,s);
        </script>
        <!-- End Matomo Tag Manager -->

        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.css('main')|raw }}
            {{ assets.css('fonts')|raw }}
            {{ assets.js()|raw }}
        {% endblock %}
    </head>
    <body class="bg-gray-100 text-gray-800">
        {% include 'partials/navigation.html.twig' %}

        <div class="{{ page.header.landingpage ? '' : 'pt-28 sm:pt-14 p-4 max-w-6xl mx-auto' }}">
            {% block body %}{% endblock %}
        </div>

        {% include 'partials/footer.html.twig' %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}

            <script>
                var scrollpos = window.scrollY;
                var nav = document.getElementById("navigation");

                if (nav !== null) {
                    document.addEventListener('scroll', function() {
                        scrollpos = window.scrollY;

                        if(scrollpos > 50){
                            nav.classList.add("shadow");
                            nav.classList.add("bg-white");
                        } else {
                            nav.classList.remove("shadow");
                            nav.classList.remove("bg-white");
                        }
                    });
                }
            </script>
        {% endblock %}
    </body>
</html>
