<div class="{{ more ? 'grid grid-cols-2 gap-4 max-w-md' : '' }} p-4 sm:p-6 mx-auto">
	<a href="/bestellen">
		<button class="rounded bg-primary text-white text-xl font-bold px-4 py-2 shadow-md block mx-auto">
			{{ "THEME_SCAPERSHELPER.CTA.PREORDER"|t|e }}
		</button>
	</a>
	{% if more %}
		<a href="{{ more_anchor }}">
			<button class="rounded bg-gray-200 text-gray-700  px-4 py-2 shadow-md block mx-auto">
				{{ "THEME_SCAPERSHELPER.CTA.LEARN_MORE"|t|e }}
			</button>
		</a>
	{% endif %}
	{% if play_icon %}
		<a href="https://play.google.com/store/apps/details?id=com.scapershelper" class="mx-auto col-span-2">
			<img class="w-40" src="{{ url('theme://images/google-play-badge.webp') }}" alt="Get it on google play"/>
		</a>
	{% endif %}
</div>
