<div class="cta p-8 mt-16">
    <ul class="flex flex-col md:flex-row list justify-center text-center">
        <li class="p-1 md:p-4"><a href="/wissen">Wissen</a></li>
        <li class="p-1 md:p-4"><a href="https://www.instagram.com/scapershelper">Instagram</a></li>
        <li class="p-1 md:p-4"><a href="https://www.facebook.com/groups/ScapersHelper">Facebook</a></li>
        <li class="p-1 md:p-4"><a href="/imprint">Impressum</a></li>
        <li class="p-1 md:p-4"><a href="/privacy">Datenschutz</a></li>
        <li class="p-1 md:p-4"><a href="https://commons.wikimedia.org/wiki/File:Peter_Kirwan_Mountainscape.jpg">Hintergrundbild: Peter Kirwan, CC-BY-SA 3.0</a></li>
    </ul>

    <div class="text-center text-gray-400">
        Soweit nicht anders gekennzeichnet sind alle Inhalte lizenziert nach
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>
    </div>
</div>