<div class="{{ background ? 'cta' : '' }} text-center p-8 relative my-4 mt-6 sm:mt-10 mb-4 sm:mb-6">
    {# <img class="w-full absolute inset-x-0 top-0" class="img-fluid" src="{{ url('theme://images/divider_top.svg') }}" alt="Scaper's Helper Logo"/> #}
    <span class="text-5xl font-light">{{ page.title }}</span>
    {# <img class="w-full absolute inset-x-0 bottom-0" class="img-fluid" src="{{ url('theme://images/divider.svg') }}" alt="Scaper's Helper Logo"/> #}
</div>

{# <div class="text-center p-8 my-4 mt-6 sm:mt-10 mb-4 sm:mb-6">
    <div class="border-t-2 transform rotate-2 bg-primary border-primary"></div>
    <h1 class="text-4xl bg-primary text-white font-bold py-2 px-3 mt-2 mb-6 inline-block">{{ page.title }}</h1>
</div> #}