<ul class="flex flex-row justify-end font-light text-sm {{ classes }}">
{% for language in langswitcher.languages %}

    {% set show_language = true %}
    {% if language == langswitcher.current %}
        {% set currentLanguage = true %}
        {% set lang_url = page.url %}
        {% set active_classes = ' font-bold opacity-90' %}
    {% else %}
        {% set currentLanguage = false %}
        {% set base_lang_url = base_url_simple ~ grav.language.getLanguageURLPrefix(language) %}
        {% set lang_url = base_lang_url ~ langswitcher.page_route ~ page.urlExtension %}
        {% set untranslated_pages_behavior = grav.config.plugins.langswitcher.untranslated_pages_behavior %}
        {% if untranslated_pages_behavior != 'none' %}
            {% set translated_page = langswitcher.translated_pages[language] %}
            {% if (not translated_page) or (not translated_page.published) %}
                {% if untranslated_pages_behavior == 'redirect' %}
                    {% set lang_url = base_lang_url ~ '/' %}
                {% elseif untranslated_pages_behavior == 'hide' %}
                    {% set show_language = false %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% set active_classes = ' opacity-50' %}
    {% endif %}

    {% if show_language %}
        <li class="mr-3 last:mr-0{{ active_classes }} hover:opacity-100 transition-opacity transition-200">
            {% if not currentLanguage %}<a href="{{ lang_url ~ uri.params }}" class="align-middle">{% endif %}
                <img class="h-3 rounded-sm " alt="{{ language }}" src="{{ url("theme://images/flags/#{language}.svg") }}">
            {% if not current %}</a>{% endif %}
        </li>
    {% endif %}
{% endfor %}
</ul>