{% if page.header.onpage_menu is not defined or page.header.onpage_menu == true %}
	<nav id="navigation" class="text-gray-600 fixed w-full flex flex-col sm:flex-row z-30 top-0 px-8 pt-2 pb-4 md:pb-2 transition ease-in duration-400">
		<a href="/" class="text-2xl font-bold  block mb-2 sm:mb-0 mx-auto sm:mr-auto sm:ml-0">
			Scaper's Helper
		</a>

		<ul class="text-lg flex flex-row items-center mx-auto sm:ml-auto sm:mr-0">
			{% for page in pages.children.visible %}
				<li class="mr-6 last:mr-0 no-underline">
					<a href="{{ page.url }}">{{ page.menu }}</a>
				</li>
			{% endfor %}
		</ul>

		{% if grav.config.plugins.langswitcher.enabled and system.languages.supported|count > 1 %}
			{% include 'partials/langswitcher.html.twig' with {classes: 'items-center mx-auto sm:mx-0 sm:ml-4 mt-2 sm:mt-0'} %}
		{% endif %}
	</nav>
{% endif %}
