<div class="text-center text-xl">
    <ul>
        <li><a href="{{ site.social.facebook }}"><span class="fab fa-facebook-square"></span> Zur Facebook-Gruppe</a></li>
        <li><a href="{{ site.social.forum }}"><span class="far fa-comments"></span> Zum Forum</a></li>
        {# <li><a href=""><span class="fab fa-twitter-square"></span> Auf Twitter folgen</a></li> #}
    </ul>
</div>